@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: black;
  color: white;
}


.pc {
  width: min(1400px, 100vw);
}

.p-video {
  padding: 28% 0px;
}

.card {
  width: 280px;
  height: 280px;
  /* flex-grow: 1; */
  flex-shrink: 1;
  /* flex-basis: 300px; */
}

* {
  box-sizing: border-box;
  transition: all 0.2s;
}


.wrapper-icon svg {
  height: 100%;
  width: 100%;
}

@layer components {
  .selected {
    @apply opacity-100 bg-blue-500
  }
  .not-selected{
    @apply opacity-80
  }
  .pointer-hover{
    @apply hover:cursor-pointer
  }
  .tirinhas{
    @apply flex gap-3 px-4 py-5 border-separate border border-gray-600 border-opacity-30 items-center
  }
}

