@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: rgb(17 24 39);
  color: white;
}

#__next{
  overflow-x: hidden;
}

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #919191 #cfcfcf;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
  height: 40px;
  
}

*::-webkit-scrollbar-track {
  background: #3f3f3f;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #919191;
  border-radius: 10px;
  border: 0px solid #ffffff;
}


.pc {
  width: min(1400px, 100vw);
}

.p-video {
  padding: 27.8% 0px;
}

.card {
  /* flex-grow: 1; */
  flex-shrink: 1;
  /* flex-basis: 300px; */
}

* {
  box-sizing: border-box;
  transition: all 0.2s;
  -webkit-tap-highlight-color: transparent;
}


.wrapper-icon svg {
  height: 100%;
  width: 100%;
}

.shadow-bottom {
  box-shadow: 0 20px 10px -10px rgba(0, 0, 0, 0.404);
  /* box-shadow: 0 20px 10px -10px rgba(4, 86, 141, 0.404); */
}

/* *:not(path):not(g) {
	color:                    hsla(210, 100%, 100%, 0.9) !important;
	background:               hsla(210, 100%,  50%, 0.5) !important;
	outline:    solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;

	box-shadow: none !important;
} */


@layer base {
  .svg-shadow > svg {
    @apply shadow-2xl;
  }
}

@layer components {
  .selected {
    @apply opacity-100 bg-blue-500
  }
  .not-selected{
    @apply opacity-80
  }
  .pointer-hover{
    @apply hover:cursor-pointer
  }
  .tirinhas{
    @apply flex gap-3 px-4 py-5 border-separate border border-gray-600 border-opacity-30 items-center
  }
}
