@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: black;
  color: white;
}

.radius {
  border-radius: 20px;
}
.pc {
  width: min(1400px, 100vw);
}

.p-video {
  padding: 28% 0px;
}